<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ExceptionMode" value="User" />
    <add key="CryptoKey" value="56565656" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="BackUpDevice" value="D:\BIJU\DbBackUp\" />
    <add key="EnableSsl" value="false" />
    <add key="FrmMailResetPwd" value="grandtrust08@gmail.com" />
    <add key="FrmMailCusMailer" value="grandtrust08@gmail.com" />
    <add key="SmtpHost" value="192.168.1.110" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpEmail" value="testmail02@grandtrust.co.in " />
    <add key="SmtpPassword" value="test123" />
    <add key="EnableEmail" value="false" />
    <add key="Version" value="1.1" />
    <add key="BlockedExtensions" value="exe,dll" />
    <add key="ShortCloseGroup" value="360" />
    <add key="FinalApprovar" value="349,20349" />
    <add key="VirtualDirectory" value="" />
    <add key="UploadPath" value="" />
    <add key="UploadDirectory" value="" />
    <add key="DomainPath" value="/gERPTest/" />
    <add key="SignaturePath" value="/gERPTest/upload/" />
    <add key="salt" value="56565656" />
    <add key="ReportLogoGST" value="GST-logo.jpg" />
    <add key="ReportLogoPDF" value="IGCL_Logo.jpg" />
    <add key="POReportLogo" value="IGCL_Logo.jpg" />
    <add key="CompanyLogo" value="~/Images/Uploads/CompanyLogo/" />
    <add key="ReportLogo" value="MercatorMedicalThailandLTD_Logo.jpg.jpg" />
    <add key="SYSVAL" value="Q8ip5Jz73AQaSWbkO9979Q==" />
    <add key="SYSKEY" value="GTIASSET" />
    <add key="EnableMailQService" value="false" />
    <add key="EnableErrorLog" value="true" />
    <add key="gERPModule" value="2" />
    <add key="Excel03ConString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES;IMEX=1;'" />
    <add key="Excel07ConString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR=YES;IMEX=1;'" />
    <add key="CUSTOMERDOMINE" value="http://localhost:2004/login.aspx" />
    <!--<add key="EDOCDASHBOARD" value="http://localhost:4156/Dashboard.aspx" />-->
    <add key="DASHBOARDURL" value="" />
    <add key="PROFILEURL" value="http://localhost:28022" />
    <!--<add key="INTEGRATEMODE" value="True"/>-->
    <add key="IsHelpVisible" value="1" />
    <add key="ClientResourceSuffix" value="MMT" />
    <add key="ProductPackageApplicationName" value="SSIS-Products-{4DDFBD61-6F2A-412F-89E4-12F344D6F437}" />
    <add key="BrandPackageApplicationName" value="SSIS-Package1-{BA64BE05-F610-430F-B906-483FA4481A69}" />
    <add key="ProductPackagePassword" value="1234abcA" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="EntityTimeout" value="600" />
    <add key="SMSServiceInterval" value="1" />
    <add key="EnableSMSQService" value="false" />
    <add key="IsReportServer" value="true"/>
    <add key="SMSAPIURL" value=" http://dnd.todaysms.in/httpapi/smsapi?uname=SYEDPV&amp;password=SYEDPV@123&amp;sender=SYEDPV&amp;receiver={0}&amp;route=TA&amp;msgtype=1&amp;sms= {1}" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <!--<trace enabled="true" requestLimit="40" localOnly="false" />-->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--<trace pageOutput="true" enabled="true" requestLimit="10" localOnly="false" mostRecent="true" traceMode="SortByTime" />-->
    <!-- Added for accepting html tags in textboxes -->
    <httpRuntime executionTimeout="1800" requestValidationMode="2.0" requestLengthDiskThreshold="8192" maxRequestLength="1048576" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development. 
-->
    <httpModules>
      <add name="AuthenticationModule" type="GTIService.Security.AuthenticationModule, GTIService" />
      <remove name="OutputCache" />
      <remove name="WindowsAuthentication" />
      <remove name="PassportAuthentication" />
      <!--<remove name="RoleManager"/>-->
      <remove name="UrlAuthorization" />
      <remove name="FileAuthorization" />
      <remove name="AnonymousIdentification" />
      <remove name="Profile" />
      <remove name="ErrorHandlerModule" />
    </httpModules>
    <hostingEnvironment shadowCopyBinAssemblies="false" />
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true" resourceProviderFactoryType="GTIService.Infrastructure.GtiResourceProviderFactory" />
    <compilation debug="true" targetFramework="4.7.1">
      <assemblies>
        <!--<add assembly="Microsoft.ReportViewer.DataVisualization, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <!--<add assembly="Microsoft.ReportViewer.Design, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebDesign, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <!--<add assembly="Microsoft.ReportViewer.WinForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->


        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="AjaxControlToolkit, Version=3.0.11119.25533, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e" />
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <!--<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />-->
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <!--<add assembly="Microsoft.ReportViewer.DataVisualization, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
        <add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />

      </assemblies>
      <buildProviders>
        <!--<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>-->
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <!-- 
            The <authentication> section enables configuration 
    of the security authentication mode used by 
            ASP.NET to identify an incoming user. -->
    <authentication mode="Forms">
      <forms name="StoreAuth" path="/" loginUrl="login.aspx" defaultUrl="~/PurchaseOrderManagement/PurchaseOrderCreation.aspx" protection="All" slidingExpiration="true" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <httpHandlers>
      <add path="*.js.axd" verb="*" type="ScriptTranslator" />
      <add path="*.do" verb="GET,POST" type="Handlers.HandlerClass" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <customErrors mode="Off" defaultRedirect="Error.aspx" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <!--    <add name="X-Content-Type-Options" value="nosniff"/>-->
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <remove name="X-Powered-By" />
        <remove name="X-Content-Type-Options" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add name="HandlerClass" path="*.do" verb="GET,POST" type="Handlers.HandlerClass" scriptProcessor="%path%\aspnet_isapi.dll" />
      <add name="ScriptTranslator" path="*.js.axd" verb="*" type="ScriptTranslator" scriptProcessor="%path%\aspnet_isapi.dll" />
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.web>
    <sessionState timeout="3600" />
  </system.web>
  <location path="Administration">
    <system.web>
      <authorization>
        <allow roles="1,2,150,154,159,20150,20154,30150,30154" />
        <!--<allow users="*"/>-->
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AccountManagement">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="News">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="~/AccountManagement/WorkflowInbox.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Script">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PBIData">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <!--SMS-->
    <!--   gERP_BWH_New_Client_15052003_CPY_CPY_CP01_CPY11_CP01-->
    <!--SQL SERVER 2008-->
    <!--<add name="ERPEntities" connectionString="metadata=res://*/ERP.csdl|res://*/ERP.ssdl|res://*/ERP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.116\SQLEXPRESS2008R2;Initial Catalog=gERP_MMT_Test_160520_CPY02;User ID=dev;pwd=gtidev@2008;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=192.168.1.220;Initial Catalog=gERP_MMT_Test_160520_CPY02;User ID=dev;pwd=gtidev@2008;Persist Security Info=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=192.168.1.116\SQLEXPRESS2008R2;Initial Catalog=gERP_MMT_Test_160520_CPY02;User ID=dev;pwd=gtidev@2008;Persist Security Info=True" providerName="System.Data.SqlClient"/>-->
    <!--SQL SERVER 2014  gERP_IGCL_QA_160707_CPY03_CPY02  gERP_MMT_Test_160629_CPY04    gERP_MMT_Test_160629_CPY04 -->
    <add name="gERPTelConnection" connectionString="Data Source=192.168.1.103\SQL2022;Initial Catalog=ERP_MMT_TEST_20260203_11_48AM;User ID=sa;pwd=Sql@2019++;Persist Security Info=True" providerName="System.Data.SqlClient" />
    <add name="ERPEntities" connectionString="metadata=res://*/ERP.csdl|res://*/ERP.ssdl|res://*/ERP.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.103\SQL2022;Initial Catalog=ERP_MMT_TEST_20260203_11_48AM;User ID=sa;pwd=Sql@2019++;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="Data Source=192.168.1.103\SQL2022;Initial Catalog=ERP_MMT_TEST_20260203_11_48AM;User ID=sa;pwd=Sql@2019++;Persist Security Info=True" providerName="System.Data.SqlClient" />
    <add name="ReportConnectionString" connectionString="Data Source=192.168.1.103\SQL2022;Initial Catalog=ERP_MMT_TEST_20260203_11_48AM;User ID=sa;pwd=Sql@2019++;Persist Security Info=True" providerName="System.Data.SqlClient" />
    <!--<add name="ReportConnectionString" connectionString="Data Source=192.168.1.103\MSSQLSERVERMMT;Initial Catalog=gERM_MMT_LIVE_CPY20230403;User ID=dev;pwd=dev@2019;Persist Security Info=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ReportConnectionString" connectionString="Data Source=192.168.1.103\MSSQLSERVERMMT;Initial Catalog=gERM_MMT_LIVE_CPY20230403;User ID=dev;pwd=dev@2019;Persist Security Info=True;" providerName="System.Data.SqlClient" />-->
    <!--Don't Change The Db Name of this ConnectionStrings-->
    <!--Start-->
    <add name="BackupConnectionString" connectionString="Data Source=192.168.1.46,1433\SQLEXPRESS2008;Initial Catalog=;User ID=sa;pwd=sql2008;Persist Security Info=True" providerName="System.Data.SqlClient" />
    <add name="RestoreConnectionString" connectionString="Data Source=192.168.1.46,1433\SQLEXPRESS2008;Initial Catalog=master;User ID=sa;pwd=sql2008;Persist Security Info=True" providerName="System.Data.SqlClient" />
    <!--End-->
  </connectionStrings>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.0.0.0" newVersion="17.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
