
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! GrandTrust InfoTech Pvt. Ltd. CSS for ERP-Admin by vk23March2011 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

1.Block Structered CSS
2.Created on 23 March 2011


App main structure
_____________________________________________________MasterPage

          #maincontainer
                |
        .roundedbox-outer 
        |               |
.roundedbox-left   .roundedbox-right  


-----------------------------------------------------ContentPlaceHolder(InnerPage)

.roundedbox-right 

Inner page main styles starts here

    <div id="webwizard-wrap">

    </div>

    <div id="grdTable-wrap">

        Inner main content goes her refer Modelpage.aspx in V2

    </div>

Inner page styles ends here

_____________________________________________________


14/04/11/3.30PM FF TblWidth + Calendar Alignment+ validatore + ..retrived versn1

 
_______________Common HTML Elements Reset_____________________________________________________________________________________________________________________________*/

body {padding:0;margin:0;border: 0;font-size:12px;  line-height:18px; color:#506c92; background:#597cad; font-family:Arial;}

a {padding-right:4px;color:#003366;text-decoration:none; }

* {padding: 0;margin: 0;}

h1 {font-size:14px; color:#4885d2; padding:0 0 3px 0; margin:12px 0px 5px 0px; border-bottom:solid 1px #dce2ea; font-family:Arial/**/}
h2 {font-size:12px; color:#2b4e82; padding:0; margin:5px 0px 15px 0px; border-bottom:solid 1px #99b7d4; font-weight:bold}
h3 {font-size:11px; color:#3681c8; padding:3px 0 3px 0; margin:0px 0px 15px 0px; border-bottom:solid 1px #c5d6e6; font:Arial; font-weight:bold}
hr {margin:10px 0px; padding:0; border-top:solid 1px #fff;border-bottom:solid 1px #e0e0e0; border-left:none; border-right:none; height:1px}

.inner-contentbx h1 {font-size:16px; color:#6197c3; padding:0; margin:5px 0px 15px 0px; border-bottom:solid 1px #e0e0e0; /**/ font-weight:bolder}
.inner-contentbx h2 {font-size:12px; color:#d0a13c; padding:0; margin:5px 0px 15px 0px; border-bottom:solid 1px #e0e0e0; font-weight:bold;  padding-right:5px}

fieldset{padding:5px; border:none; }
legend {color:Red; margin:0; padding:0; margin-left:-3px}
radio {margin-top:5px;}
label {letter-spacing:0px; font-family:Verdana;padding:0; font-size:11px; color:#506c92}  
span {letter-spacing:0px; font-family:Verdana;}
textarea {height:70px; border:solid 1px #7f9db9 !important;background:#f5f8fa;}
input.datepicker  {width:160px}
input.numeric {text-align:right;padding: 0 2px 0 0;}
img {border: none; outline:none}
span, input, textarea, select, img, label, a {float:left; padding: 0;margin: 0 7px 5px 0;}
.clear {clear: both; height:0}
.inputbtn, .inputbtn-adj {background:url(../../images/ERP-Blue/table-th-bg.gif) repeat-x top left;border:solid 1px #abcae8;height:23px;text-align:center;float:right;padding:1px 10px;color:#374c68;}
.inputbtn-adj {position:absolute; margin-left:3px;}
.loginbtn {background:url(../../images/ERP-Blue/table-th-bg.gif) repeat-x top left;border:solid 1px #abcae8;height:15px;text-align:center;float:right;padding:0px 15px 3px 15px;color:#003366!important; font-weight:bold; font-family:Arial!important; margin-left:2px}



/*_______________Styles linked with Cotrol Skin______________________________________________________________________________________________________________*/

/*_______________Main Layout Styles__________________________________________________________________________________________________________________________*/

#maincontainer {background:#e7eef8;margin:10px; min-height:610px}/*border:solid 1px #eaf0f6;*/

/*_______________Content Area Styles(ContentPlaceHolder)________________________________________________________________________________________________________________*/	
	
#contentarea-container {background:#eaf0f6; padding:5px 10px 30px 10px;min-height:360px;}
#contentarea-container .contentboxwrap {border:solid 1px #d0d9e3;background:#eff3f7;float:left; padding:10px 0 0 10px; margin:3px 0px 7px 8px; height:525px; width:24%;}/*e3e8ee*/
#contentarea-container .contentboxwrap h1{background:url('../../images/ERP-Blue/Buttons/MainMenu.gif') no-repeat top left; padding:0px 0px 0px 25px; border:none; margin:10px 0px 0px 10px}

.contentboxwrap ul{margin:0 0 0 10px; list-style-type:none;}
.contentboxwrap li {height:16px; padding:5px; margin:5px 0 0 5px; display:block;}
.contentboxwrap a{color:#616D7E; background:url('../../images/ERP-Blue/Buttons/lnk-img.png') no-repeat left top;/**/ padding:0px 0px 2px 20px; height:15px;}
.contentboxwrap a:hover{border-bottom:solid 1px #eaeff3; margin-top:1px}
	
/*_______________Header Styles_____________________________________________________________________________________________________________________*/	

#topheader-wrap{background:#e7eef8 url(../../images/ERP-Blue/workflow-bgstrip.gif) repeat-x left top;height:45px;padding:0px 10px;}
#topheader-wrap .welcomeuser-wrap {float:right;width:430px; padding-top:5px;}/*margin-top:10px;width:420px +padding-top:5px;*/
#topheader-wrap .welcomeuser-wrap a {font-size:11px; text-decoration:none; font-weight:bold;float:right;text-decoration:none; padding-top:3px}
#topheader-wrap .welcomeuser-wrap span {font-size:11px; margin-left:5px; text-decoration:none; font-weight:bold;font-size:11px; color:#5f81b0; letter-spacing:-1px}

.welcomeuser-wrap span {float:right!important;}/*float:right; given  more gap showing  /Administration/Default.aspx*/
#topheader-wrap .welcomeuser-wrap select {float:left}
.welcomeuser-wrap a.homlink {background:url(../../images/ERP-Blue/Buttons/home.png) no-repeat left top; width:16px; height:16px; float:right; text-indent:-10000px; outline:none}

#topheader-wrap .menuSearchwrap span {font-style:italic;font-size:14px; color:#5f81b0; letter-spacing:-1px; float:left!important; text-align:left;margin-top:10px}
#topheader-wrap span.logo {font-size:14px; color:#5f81b0; letter-spacing:-1px; float:left!important; text-align:left;margin-top:0px; font-style:normal; font-family:Verdana; font-weight:bold}

#topheader-wrap .fisheyemenu-wrap {width:49%;float:left; text-align:center; margin-top:5px; text-align:center/* margin:5px 50%; */}
#topheader-wrap .fisheyemenu-wrap a, img{}


/*_______________Textbox Drill Menu Styles(AutoComplete)______________________________________________________________________________________________*/


#MenuSearch-wrap .ac_results {background:#fff;overflow: hidden;z-index: 99999; color:#000; font:Arial;}
#MenuSearch-wrap .ac_results ul {width: 100%;list-style-position: outside;list-style: none;padding: 0;margin: 0;color:#000;}
#MenuSearch-wrap .ac_results li {margin: 0px;padding: 2px 5px;cursor: default;display: block;font: menu;font-size: 12px;line-height: 16px;overflow: hidden;}
#MenuSearch-wrap .ac_loading {background:#fff;color:#000}
#MenuSearch-wrap .ac_odd {color:#000;}
#MenuSearch-wrap .ac_even{color:#000;}
#MenuSearch-wrap .ac_over{color:#000;}

#MenuSearch {padding:0; margin:15px 10px 0 0; float:left; width:23%;height:20px;}
#MenuSearch input{font-size:12px;font-weight:bold; height:20px; border:solid 1px #c5dbec; background:#d9e4f4; position:absolute;}
#MenuSearch a {width:70px; float:left; padding:0 15px;}
#MenuSearch .fg-button{margin-left:0;}

/*_______________Manadatory Alert Popup Styles_________________________________________________________________________________________________________________*/	

/*div.error{padding:2px 10px 0 10px;color:#cc0000;height:22px;background:#f4daad url('../../images/ERP-Blue/alerticon.png') no-repeat top left; cursor:pointer; text-indent:25px; white-space:pre;display:inline-block; position:absolute; min-width:160px;z-index:1000; right:15px;}
.grdTable div.error{padding:5px 10px 0 10px;color:#cc0000;height:22px;background:#f4daad url('../../images/ERP-Blue/alerticon.png') no-repeat top left; cursor:pointer; text-indent:25px; white-space:pre; position:absolute; display:inline; margin-top:-10px}
*/

/*_______________Collapse Image Button Wrap Styles___________________________________________________________________________________________________*/
   
.collapse-button-collapse {height:43px;width:10px;margin-top:10px;right:0;position:absolute;cursor:e-resize;}	
.collapse-button-expand {height:43px;width:10px;margin-top:10px;left:0;position:absolute;cursor:e-resize;}
		
/*_______________Left Side Vert Menu Styles__________________________________________________________________________________________________________*/

	.linkwrap {background:#eef3f7;padding:0px;width:auto;margin-bottom:10px;}
    .linkheader {height:21px;color:#5c84bb;font-weight:bold;font-size:12px;padding:10px 12px 2px 10px;margin:0;letter-spacing:-1px;background:#cfdff3;border-bottom:solid 1px #a1badb;}
	.mainlink {height:14px;color:#5c84bb;padding:4px 9px 9px 9px;border-top:solid 1px #d5e2f3;border-bottom:solid 1px #a1badb;background:#c4d6ed;overflow:hidden;width:300px}
	.sublink {height:25px;color:#5c84bb;padding:5px 0;}
	.linkwrap table {margin:0!important;}
	.linkwrap, .linkheader, .mainlink, .sublink {letter-spacing:-1px; font-family:Verdana} 

#mcbottom {width:100%;background:url('../../images/ERP-Blue/opaq-img.png') repeat top left;border-top:solid 1px #6889b8; padding:5px 0px 1px 0px; position:fixed; bottom:0}
#mcbottom img {margin:-2px 0 0 15px; float:left}
#mcbottom span {margin:2px 15px 0 0px; float:right; color:#83a1ca; font-size:12px; font-weight:bold; letter-spacing:-1px}

/*_______________Checkbox__________________________________________________________________________________________________________________*/

    .checkbx{float:left;margin-bottom:5px;}
    .checkbx input {float:left;width:auto!important;}
    .checkbx label {float:left;font-size:11px;width:auto!important;} 
   
/*--------------------------------------------------------*/

.ddlwrap{padding:0px; margin:0;}
.ddlSelect{background:url(../../Images/ERP-Blue/Buttons/dropdwn-img.png) no-repeat 0 0;width:15px; height:16px; position:absolute; margin-top:2px;margin-left:-19px; z-index:999;float:none!important} 
.ddltxtbx{margin-right:-17px;}

/*_______________main layout style ends here__________________________________________________________________________________________________________*/

.divcol-S .reducer, .divcol-M .reducer {width:100%; clear:right; margin-bottom:0px}

        .divcol-S .reducer span {width:16%;float:left; margin-right:4px}
        .divcol-M .reducer span {width:26%;float:left; margin-right:4px;}

        .divcol-S .reducer input {width:36%;float:left; margin-right:200px;}
        .divcol-S .reducer textarea {width:36%;float:left; margin-right:200px}
        .divcol-S .reducer select {width:36.3%;float:left; margin-right:200px}

        .divcol-M .reducer input {width:36%;float:left; margin-right:200px;}
        .divcol-M .reducer textarea {width:36%;float:left; margin-right:200px}
        .divcol-M .reducer select {width:36.3%;float:left; margin-right:200px}


	
	.highlightsbx-2col { background:#e6ecf5;padding:2%; border:solid 1px #d1dde6; margin:0 0 10px 0; width:45%; float:left}
	.highlightsbx-2col h1{color:#00b3fe; padding:0 0 5px 0; font-size:14px; border-bottom:solid 1px #d1dde6; margin:0; text-align:left; text-indent:o; font-style:italic}
	.highlightsbx-2col span, .highlightsbx-2col label{width:45%;}
	.highlightsbx-2col label{color:red}


.content {margin-right: 0px;padding:10px;}


/*__________________________________________25-10-11_________________________________________________________________________*/

input[type=text].small{ width:60px!important;}
input[type=text].medium{width:250px!important;}
input[type=text].large{width:300px!important;}

span.small{width:60px!important;}
span.medium{width:250px!important;}
span.large{width:300px!important;}

select.small{width:60px!important;}
select.medium{width:250px!important;}
span.large{width:300px!important;}

/*__________________________________________25-10-11____________________________________________________________________________*/

.divcol-S, .div2col-S,.div2col-M, .div3col-S, .div4col-S, .divcol-M, .div4col-RT, .div3col-M {float: left; margin:5px 14px 5px 0;padding:1%; position:relative;}

        .divcol-S, .divcol-M {/*clear:both;width:90%;background:orange;width:93%;*/ float:inherit;}
        .div2col-S, .div2col-M {width:46%;/*background:orange;*/}
        .div3col-S, .div3col-M {width:29.6%; /*background:orange;*/}
        .div4col-S {width:23.1%;/*background:orange;*/} 
        .div4col-RT {width:76%; float:right/*background:orange;*/}

/*_________divcol-S___________Single Column Styles___________________________*/

        .divcol-S label {/*width:19%;*/ width:18.95%}
        .divcol-S span, .divcol-S input,.divcol-S select {width:78.6%;}
        .divcol-S select {width:75.5%}
        .divcol-S span {font-weight:bold}
        .divcol-S textarea {height:60px;padding-top:1px;width:79.8%}


/*_________divcol-M___________Single Column Styles___________________________*/

        .divcol-M label {width:30%;}
        .divcol-M span, .divcol-M input, .divcol-M textarea, .divcol-M select {width:65%;}
        .divcol-M select {width:65.5%}
        .divcol-M span {font-weight:bold}
        .divcol-M textarea {height:60px;padding-top:1px;}
        
/*_________divcol-FileuplWrap___________Single Column Styles___________________________*/

        .divcol-FileuplWrap {padding:0; margin:0 0 5px 0}
        .divcol-FileuplWrap label {width:19.5%;}
        .divcol-FileuplWrap input {float:left!important;}


/*____________________Two Column Styles___________________________*/

        
        .div2col-S label {width:40%;}
        .div2col-S span, .div2col-S input, .div2col-S textarea {width:55%;}
        .div2col-S select {width:55.5%}
        .div2col-S span {font-weight:bold}
        .div2col-S textarea {height:60px;padding-top:1px;}
        
        .div2col-M label {width:50%;}
        .div2col-M span, .div2col-M input, .div2col-M textarea, .div2col-M select {width:45%;}
        .div2col-M select {width:45.5%}
        .div2col-M span {font-weight:bold}
        .div2col-M textarea {height:60px;padding-top:1px;}


/*____________________Three Column Styles___________________________*/


        .div3col-S label {width:40%;}
        .div3col-S span, .div3col-S input, .div3col-S textarea, .div3col-S select {width:54%;}
        .div3col-S select {width:54.5%}
        .div3col-S span {font-weight:bold}
        .div3col-S textarea {height:60px;padding-top:1px;}
  
        .div3col-M label {width:40%;}
        .div3col-M span, .div3col-M input, .div3col-M textarea, .div3col-M select {width:54%;}
        .div3col-M select {width:54.5%}
        .div3col-M span {font-weight:bold}
        .div3col-M textarea {height:60px;padding-top:1px;}
        
        .div3col-VMappingListing {padding:0px; border:solid 5px #a5bbd9;/**/ margin:15px 0px 0px 0px; background:#d3dce7; height:18px}
        .div3col-VMappingListing label {float:left; margin:5px 0; background:#a5bbd9; color:#f2f5f8; font-weight:bold;width:125px; text-align:right}
        .div3col-VMappingListing span{font-weight:bold;float:left;background:#d3dce7; color:#90abcb!important; margin-left:125px; min-width:150px}
        .div3col-VMappingListing select{font-weight:bold;float:left;background:#d3dce7;width:250px; margin:0 0 0 0}
        .div3col-VMappingListing input{margin-left:15px}
        
        .div3col-VMappingListing label, .div3col-VMappingListing span {margin:0!important; padding:0px 5px 3px 5px!important; height:15px!important; font-size:11px!important}
        
        .div3col-Hi-Lbx {padding:1%; border:solid 1px #a5bbd9;margin:.3% .5% .3% 0; background:#d3dce7; float:left; height:200px; overflow-y:auto;overflow-x:hidden; display:table; width:30.5%}
        .div3col-Hi-Lbx label {float:left; width:40%;}
        .div3col-Hi-Lbx span, .div3col-Hi-Lbx select, .div3col-Hi-Lbx input{float:left;width:52%;}
        .div3col-Hi-Lbx P {float:left; width:52%; font-size:11px; font-family:Verdana; clear:right; margin-bottom:5px}



/*____________________Four Column Styles___________________________*/


        .div4col-S span {width:34%;float:left;}
        .div4col-S input {width:65%;}
        .div4col-S textarea {width:64.5%;height:60px;padding-top:1px;}
        .div4col-S select {width:65.4%;border:solid 1px #999;}
        
        .div4col-S span,.div4col-S input,.div4col-S textarea,.div4col-S select{margin-bottom:10px;}

        
/*_________divcol-L___________Single Column Styles___________________________*/

        .divcol-L span {width:75%;float:left;}
        .divcol-L input {width:20%;}
        .divcol-L textarea {width:20%;height:60px;border:solid 1px #9cb3c8; background:#dee9f4;padding-top:1px;}
        .divcol-L select {width:20%;border:solid 1px #999;}
        
        .divcol-L span,.divcol-L input,.divcol-L textarea,.divcol-L select{margin-bottom:10px;}
        
        
/*_________divcol-fluid___________Single Column Styles___________________________*/

        .divcol-F span {float:left; margin-right:10px}
        .divcol-F input {width:20%;}
        .divcol-F textarea {width:20%;height:60px;border:solid 1px #9cb3c8; background:#dee9f4;padding-top:1px;}
        .divcol-F select {width:20%;border:solid 1px #999;}
        
        .divcol-F span,.divcol-F input,.divcol-F textarea,.divcol-F select{margin-bottom:10px;}
        
/*_________divcol-inline___________Single Column Styles___________________________*/


        .divcol-inline textarea {height:60px;border:solid 1px #9cb3c8; background:#dee9f4;padding-top:1px;}
        .divcol-inline span, .divcol-inline input, .divcol-inline textarea, .divcol-inline select{margin-bottom:10px; float:left}
        
/*________Element Wrap____________All HTML Element will arrange in a line and wrap to next line when it exceeds its width___________________________*/

        .elementwrap{padding:10px;}
        .elementwrap span, .elementwrap label {width:100px;float:left; padding:1px 0 0 0}  
        .elementwrap select {width:204px;float:left;} 
        .elementwrap input {width:200px;float:left;} 
        .elementwrap input, .elementwrap select, .elementwrap span {margin:0 10px 10px 0;} 
        .elementwrap input.imgbtn{ float:right; margin-bottom:-25px; width:20px; height:20px} 

/*____________________Single Column Styles for Declaration___________________________*/


        .divcol-Decla span {width:500px;float:left; font-size:12px}
        .divcol-Decla input {width:18px;float:left;}
        
/*____________________Upload File Listing table___________________________*/

        .divcol-upld-FileNameListing-table span{padding:1px 10px; border:solid 1px #cbd5e2; background:#f2f7fd;float:left; margin-left:-1px!important; height:20px!important; margin:0!important;width:250px; overflow:hidden}
        .divcol-upld-FileNameListing-table a {float:left;margin-left:5px!important;border:solid 1px #cbd5e2;margin:0!important;}    /*margin-left:-1px!important;+margin:0!important;*/    

/*____________________Print Styles___________________________*/

        .divcol-Print{/*white-space:pre-wrap; */background:#fff url(../../images/tpmslogo-watermark.png) no-repeat top right; padding:100px 25px 25px 25px; border:solid 1px #333;color:#000; }
        .divcol-Print p {text-align:center;clear:both; margin:10px 0 5px 0; padding:0; line-height:16px; text-align:left}
        
        .divcol-Print h3 {color:#000; margin-bottom:solid 1px #000}
        
        .divcol-Print ul {list-style:none; margin-left:0px}
        .divcol-Print ul {list-style:disc; margin-left:0px; list-style-position:inside; line-height:16px}

/*________Ref No____________Single Column Styles for Declaration___________________________*/

        .divcol-RefNo {margin:5px 0px 0px 5px; float:right; width:100%;} 
        .divcol-RefNo span {float:right; font-size:12px; color:#b32a00; clear:none; text-align:right; margin-left:10px; margin-right:5px; letter-spacing:0px; font-weight:bold;}
        .divcol-RefNo select {float:right; font-size:12px; clear:none; text-align:right; margin-left:10px}
        .divcol-RefNo input {float:right; font-size:12px; clear:none; text-align:right; margin-left:10px}
               
/*________Text Editor____________Two Column Styles___________________________*/

        .texteditor-wrap {float:left; background:#fff; border:solid 4px #d6d6d6}
        .texteditor-wrap span, .texteditor-wrap input, .texteditor-wrap textarea, .texteditor-wrap select {text-align:inherit; float:none;}
        .texteditor-wrap select {float:none;}  
        .texteditor-wrap img {margin-top:-5px} 
        .texteditor-wrap table td {padding:0px}           
        
/*________Literal Wrap____________Two Column Styles___________________________*/

        .literal-wrap {border:solid 1px #9cb3c8; background:#fff; padding:35px 25px 20px 25px}
        .literal-wrap p {padding:0px; text-align:justify}
        .literal-wrap span, .literal-wrap input, .literal-wrap textarea, .literal-wrap select {text-align:inherit; float:none;}
        
        .literal-wrap ol li {list-style-type:decimal; margin-left:25px}
        .literal-wrap h1 {font-size:16px;}

/*________Add or Remove____________ADD or REMOVE BOX Styles___________________________*/

.addorremovebox {width:30%;float: left;padding:10px;margin:5px 0px 5px 0px;border:solid 1px SteelBlue;/*background:#e7eef8 url(../../images/ERP-Blue/workflow-bgstrip.gif) repeat-x top left;*/background:#eff5fb url('../../images/ERP-Blue/table-th-bg1.gif') repeat-x top left;font-size:12px;line-height:21px;font-weight:bold;}
.addorremovebox-btnwrap{width:30px;height:94px;float: left;padding:95px 5px 5px 5px;margin:5px 0px 5px 0px;border-top:solid 1px SteelBlue; border-bottom:solid 1px SteelBlue;background:#e7eef8 url(../../images/ERP-Blue/workflow-bgstrip.gif) repeat-x top left;}
.addorremovebox .chkwrap {width:100%;height:12px; float:left;padding:0 0 5px 0;}
.addorremovebox .chkwrap input{float:left; padding:0; margin:0; width:13px; height:13px;}
.addorremovebox .chkwrap label{float:left; padding:0 0 0 3px; margin:0; margin-top:-5px}

/*_____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________*/
          
.scroll-h150 {height:150px; overflow-x:hidden; overflow-y:auto;border:solid 1px #7f9db9;background:#f5f8fa; /*background:#fafafa; border:solid 1px #ccc;*/ margin:10px 0; padding:10px; color:#999}
.scroll-h150 span{color:#666; font-weight:bold}
.scroll-h150 p{color:#888; font-size:11px; letter-spacing:-1px; line-height:16px}       

/*_______________Horz Tab Styles_____________________________________________________________________________________________________________________*/

#tab-container{background:#dfe9f6;border:solid 1px #c0cddf;border-top:none;height:30px;padding:2px 12px 0px 12px;}

.tab-active{padding:3px 15px;background:url(../../images/ERP-Blue/table-th-bg.gif) repeat-x top left;border:solid 1px #c2d4e3;float:left;color:#576f90;font-size:14px;font-weight:bolder;margin-top:5px;margin-left:-1px; font-family:Century Gothic;}  
.tab-active:hover{color:#346bb6;border-bottom:none;background:#efe2ae url(../../images/ERP-Blue/horzglow.png) repeat-y top left;}
    
.tab-inactive{padding:3px 15px;background:url(../../images/ERP-Blue/table-th-bg1.gif) repeat-x bottom left;border:solid 1px #c0cddf;float:left;color:#889bb6;font-size:12px;font-weight:normal;margin-top:5px;margin-left:-1px;font-family:Century Gothic; }  
.tab-inactive:hover{background:#efe2ae url(../../images/ERP-Blue/horzglow.png) repeat-y top left;color:#346bb6;border-bottom:none;}
   
/*_______________Inner Label & Textbox Styles________________________________________________________________________________________________________*/

.normalwrap {margin:1px 5px 1px 2px;float:left;width:100px;}
.textbox-inactive {height:18px;width:100%;background:#f1f1f1;border:solid 1px #ccc;}

/*_______________Login Styles_________________________________________________________________________________________________________________________*/

#login-container {margin:100px auto;padding:40px 120px 25px 60px;background:#e4effd url(../../images/ERP-Blue/erp-production-login.gif) no-repeat center top;width:400px;height:255px;}
      
    #login-container input, #login-container select {float:left; background:#6285b6; border:none; color:#22426e; height:20px; margin:0 0 3px 0; padding:0}
    #login-container label {color:#4f71a0; font-size:12px; margin:0 0 3px 0; padding:0; font-weight:bold; float:left;}
    #login-container span {color:#8ba8d1; font-size:12px; margin:0 0 3px 0; padding:0; margin-left:1px; float:left;}
    #login-container select {padding:0!important; margin-bottom:10px!important}
    #login-container input.check {background:none!important}
    #login-container a {color:red!important; font-size:14px;float:left;}
      
#login-container .header {height:40px;width:150px;background:url(../../images/ERP-Blue/grandtrustERP-logo.gif) no-repeat 0 0;text-align:center;margin-bottom:10px;margin-left:170px;}

#login-container table td{margin:2px 3px}   


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! TABLE STYLES STARTS HERE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*_______________Common table reset_______________________________________________________________________________________________________________*/

table {border-collapse:collapse;border-spacing:0; width:100%!important;display:block}/* !important; border:solid 1px #d5dee9;*/
#contentarea-container table {border:solid 1px #d5dee9; margin:5px 0; border-collapse:collapse;}

/*_______________grdtable Styles (Anywhere in the Inner Page)_____________________________________________________________________________________*/
  
.reportviewer {width:99.3%; padding:0 0 0 5px; background:#e8e5d6;border:solid 1px #f7fbff; overflow:auto}
.reportviewer table{width:auto!important; border:none!important;}
.reportviewer table div{overflow:hidden!important}
.reportviewer table td {margin:0px; padding:0;}
 
 #grdTable-wrap {padding:5px 10px 20px 10px;background:#eaf0f6;border:solid 1px #f7fbff;border-color:#f7fbff #c8d7e9 #c8d7e9 #c8d7e9;/*overflow-x:auto;overflow-y:hidden;*/min-width:400px;}
	
    /*.grdTable {width:100%!important;}
    .grdTable {overflow:auto;}*/
	.grdTable table{font-family:Verdana;font-size:11px;float:left;border:solid 1px #d5dee9;display:table!important}
	.grdTable table a {font-family:Verdana;font-size:11px; text-decoration:underline;}
    .grdTable table a:hover {color:#738698; text-decoration:none;}
	.grdTable table td, th {border-bottom:solid 1px #d5dee9;border-top:none;margin:5px 2px;color:#6d86a4;}
	.grdTable table th a{color:#5d82a5; text-decoration:none}
    .grdTable table th {padding:9px 3px 7px 10px;border:solid 1px #d5dee9;background:#f0f5fc url(../../images/ERP-Blue/table-th-bg1.gif) repeat-x top left;color:#5d82a5;}
	.grdTable table td {background:#f5f9ff url(../../images/ERP-Blue/table-tr-bg.gif) repeat-x top center;border-left:solid 1px #cbd5e2;border-right:solid 1px #cbd5e2;/**/border: solid 1px #cbd5e2;padding:5px 7px 0px 7px;vertical-align:middle;}
    
    /*.grdTable select, .grdTable input {display:inline-table; width:100%}*/
    
    .listTable table{font-family:Verdana;font-size:11px; width:100%;float:left;border:solid 1px #8392a7;}
	.listTable table td{border:solid 1px #8392a7;padding:1px 5px;text-align:left;color:#6d86a4; background:#f5f9ff url(../../images/ERP-Blue/table-tr-bg.gif) repeat-x top center;}

    
    
	.trodd{background-color:#f0f5fc;}
    .treven{background-color:#eaf0f9;}
    .tdheader {text-align:right; padding-right:5px;color:#1a6389}
    
.sortableDown{background-image: url('../../Images/ERP-Blue/Buttons/commonFormArrows.png');background-repeat: no-repeat;background-position:-73px 4px;width: 10px;height:10px;float:right;cursor:pointer;}
.sortableUp{background-image: url('../../Images/ERP-Blue/Buttons/commonFormArrows.png');background-repeat: no-repeat;background-position: -179px 4px;width: 10px;height: 10px;float: right;cursor:pointer;}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! TABLE STYLES ENDS HERE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*_______________Web Wizard (Inner Page Top)_____________________________________________________________________________________________________*/


#webwizard-wrap {background:#e7eef8 url(../../images/ERP-Blue/workflow-bgstrip.gif) repeat-x top left;height:33px;border:solid 1px #c8d7e9; padding:0px 5px 0px 10px;}
#webwizard-wrap h1 {font-size:15px; color:#7294c2; padding:0; margin:7px 0px 0px 0px; float:left; letter-spacing:-1px; border-bottom:none; line-height:18px; width:300px;/**/}
#webwizard-wrap .button-wrap input, .button-wrap img {width:22px; height:22px; float:left; margin:0; padding:0}
#webwizard-wrap .button-wrap{float:right; margin-top:0px;width: auto; padding:5px; float: right; text-align: right}



/*_______________Inner Content Block Styles__________________________________________________________________________________________________________*/



    #searchwrap{ margin-bottom:10px;background:url('../../images/ERP-Blue/table-th-bg1.gif') repeat-x top left;padding:7px 15px; min-height:20px; border:solid 1px #c5d7ef}

        #searchwrap span { font-weight:bold;float:left;margin-bottom:0}
        #searchwrap input {width:120px;float:left; margin-left:5px;margin-bottom:0}
        #searchwrap select {width:120px;float:left; margin-left:5px;margin-bottom:0} 
        #searchwrap span, #searchwrap input.imgbtn {float:left;margin-bottom:0}
        /*input.imgbtnwrap {position:absolute; display:inline!important}
        img.imgbtnwrap {position:absolute!important; display:inline!important}
        a.imgbtnwrap {position:absolute!important; display:inline!important}
        div.imgbtnwrap {position:absolute!important; display:inline!important;}*/
        
        input.imgbtnwrap, img.imgbtnwrap, a.imgbtnwrap, div.imgbtnwrap {/*position:absolute;*/ display:inline!important}


   

/*_______________Login Styles_________________________________________________________________________________________________________________________*/

#login-container {margin:100px auto;padding:55px 120px 25px 80px;background:#e4effd url(../../images/ERP-Blue/erp-production-login.gif) no-repeat center top;width:400px;height:235px;}
      
    #login-container input {float:left; background:#6285b6; border:none; color:#22426e; height:20px; margin:0; padding:0}
    #login-container label {color:#4f71a0; font-size:12px; margin:0; padding:0; font-weight:bold}
    #login-container span {color:#8ba8d1; font-size:12px; margin:0; padding:0; margin-left:1px}
    
#login-container .header {height:40px;width:150px;background:url(../../images/ERP-Blue/grandtrustERP-logo.gif) no-repeat 0 0;text-align:center;margin-bottom:10px;margin-left:170px;}
    



/*________Treeview Wrap____________Put this class to wrap, Nodes and sub titles properly___________________________*/

        /*.treeviewrap { margin:0; padding:0;}
        .treeviewrap input {float:left; margin-right:0px;width:auto}   
        .treeviewrap span, .treeviewrap label{float:left; margin-top:3px;} */
        
                .edittree {overflow: auto; margin-bottom: 5px; max-height: 300px;border: solid 1px #a5b9d6; background: #cddae7; min-height: 250px; padding:5px}
    
                #edittree .treeview-adj,#edittree .treeview-adj ul { padding: 0;margin: 0;list-style: none;}
             
                #edittree .treeview li.last {padding:0 10px 0 17px; float:left; background-position: 0 -1766px;}
                
                #edittree.treeview, #edittree .treeview-adj{ padding: 0;margin: 0;  list-style:none}
                #edittree .treeview span{ padding: 0;margin:0px;float:left; width:auto; padding-right:3px; list-style: none;}
                #edittree .treeview img, #edittree .treeview input{ padding: 0;margin-left:0px;float:left;}
                #edittree .treeview-adj {width:100%; /*height:250px; overflow-y: auto; overflow-x: hidden*/}
                #edittree .treeview-adj h3{ padding: 0;margin:0px; margin-bottom:5px; border:none}
                
                #edittree .treeview li { margin: 0;padding:0px 0 3px 17px; clear:left;max-width:1000px;}
                #edittree .treeview ul { margin: 0;padding:4px 0 0 0; clear:left;}
                
                #edittree .treeview, #edittree .treeview-adj{ padding: 0;margin: 0;  list-style:none}
                #edittree .treeview li { background: url(../../images/ui/treeview-default-line.gif) 0 0 no-repeat;}
                #edittree .treeview li.collapsable, #edittree .treeview li.expandable {list-style-type:none; list-style-position:inside; float:left}
                
                
                
                
                #treewrap .treeview-adj,#treewrap .treeview-adj ul { padding: 0;margin: 0;list-style: none;}
                #treewrap input{width:20px; height:20px; float:left}
                #treewrap .treeview li.last {padding:0 10px 0 17px; float:left; background-position: 0 -1766px;}
                
                #treewrap.treeview,#treewrap .treeview-adj{ padding: 0;margin: 0;  list-style:none}
                #treewrap .treeview span{ padding: 0;margin:0px;float:left; width:auto; padding-right:3px; list-style: none;}
                #treewrap .treeview img,#treewrap .treeview input{ padding: 0;margin-left:0px;float:left;}
                #treewrap .treeview-adj {width:100%; /*height:250px; overflow-y: auto; overflow-x: hidden*/}
                #treewrap .treeview-adj h3{ padding: 0;margin:0px; margin-bottom:5px; border:none}
                
                #treewrap .treeview li { margin: 0;padding:0px 0 3px 17px; clear:left;width:90%;}
                #treewrap .treeview ul { margin: 0;padding:4px 0 0 0; clear:left;}
                
                #treewrap .treeview, #treewrap .treeview-adj{ padding: 0;margin: 0;  list-style:none}
                #treewrap .treeview li { background: url(../../images/ui/treeview-default-line.gif) 0 0 no-repeat;}
                #treewrap .treeview li.collapsable,#treewrap .treeview li.expandable {list-style-type:none; list-style-position:inside; float:left}
                
                /*tree 11/7/13*/
                 div.treeview h4{text-align:center}
                
                div.treeview a img, div.treeview td input, div.treeview td span, div.treeview label, div.treeview img {display:inline!important;width:auto!important;height:auto!important; text-align:left!important; white-space:nowrap}
                div.treeview td input[type=checkbox]{display:inherit; margin-bottom:0;vertical-align:middle}
                div.treeview div{}/*display:inline;*/
                div.treeview a img {vertical-align:middle; margin:0 0 0 -3px}
                div.treeview img {margin:-1px 0 0 0!important}
                div.treeview span{padding: 0 0 0 3px!important; vertical-align:middle}
                div.treeview table, div.treeview table {width:auto!important; height:auto!important; margin:0; padding:0}
                div.treeview a{padding:0 3px; font-weight:normal;display:inline-block}
                div.treeview td, div.treeview a{margin:0px; padding:0px!important;}
                 /*tree align center*/
                .treeview-center{ margin:0 auto; width:400px;overflow-y: hidden; overflow-x: auto; border: 1px dashed #CCCCCC; padding:3px;}
                /*for rejoy*/
                .tree-width .treeview span{width:80%!important}/*21-3-12 when texts width increse texts come to down*/
                
                /*============== For javascrit support================ */
                
                .treeedit, .treeline, .treeplus, .treeminus, .gridview {display:block; cursor:pointer; margin-top:3px}

                .treeedit {background:url(../../Images/ERP-Blue/Buttons/erp-grid-edit.png) no-repeat 0 0; width:16px; height:16px;}
                .treeline {background:url(../../Images/ui/line-img.gif) no-repeat 0 0;width:13px; height:18px; margin-top:0px}
                .treeplus {background:url(../../Images/ui/tree-plus.png) no-repeat 0 0;width:13px; height:13px;}
                .treeminus {background:url(../../Images/ui/tree-minus.png) no-repeat 0 0;width:13px; height:13px;}
                .treeitem {background:url(../../Images/ERP-Blue/error-bg-left.png) no-repeat 0 0;width:13px; height:16px;} 
                .gridview {background:url(../../Images/ERP-Blue/Buttons/search22.ico) no-repeat 0 0;width:22px; height:22px;}/**/





/*____________________________________________________________________________Styles Ends Here____________________________________________________________________________________________*/

.w5 {width:50px!important; background:red!important}
.w15{width:150px!important; background:orange!important}
.w20{width:200px!important; background:green!important}
.w25{width:250px!important; background:yellow!important}

.w5, .w15, .w20, .w25 {padding:0; margin:0;} 

/*___________________________________________________________________________________Sajeer_____*/


/*___________________________________________________________________________________Hari_____*/
input.error
{
    border:1px solid #FF0000 !important;
}
select.error
{
    border:1px solid #FF0000 !important;
}
#errMsgContainer
{
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    padding-left: 5px;
}
#errMsgContainer ul
{
    margin: 0;
    padding: 0;
}
#errMsgContainer li
{
    list-style-position: inside;    
    margin: 0;
    padding: 3px;
    color: #FF0000 !important;
}

/*_______________Gridcontrol ______________________________________________________________________________________________________________*/

.GridviewTable td{border:solid 1px #d5dee9;padding:5px 15px;}
    .grdrow2, .grdheader2 {border-bottom:solid 1px #d5dee9;border-top:none;margin:10px 2px;text-align:left;}
	.grdrow2{background:#f5f9ff url(../images/ERP-Blue/table-tr-bg.gif) repeat-x top center;border-left:solid 1px #cbd5e2;border-right:solid 1px #cbd5e2;padding:1px 5px;text-align:left;vertical-align:middle;}
    .grdheader2 {padding: 5px 3px 5px 3px;border:solid 1px #d5dee9;background:url(../images/ERP-Blue/table-th-bg2.gif) repeat-x top right;height:30px;}

.prevnext-wrap{width:16px; float:right; text-align:center; margin:4px 2px;}
.prevnext-wrap a.prev {background:url(../../images/ERP-Blue/Buttons/prev-paging.png) no-repeat top center; width:16px; height:16px; text-indent:-9999px; position:absolute;}
.prevnext-wrap a.next {background:url(../../images/ERP-Blue/Buttons/next-paging.png) no-repeat top center; width:16px; height:16px; text-indent:-9999px; position:absolute; right:45px}/*right:45px*/
.select-wrap{float:right;margin-top:3px; padding:0 25px; }

/*___________________________________________________________________________________Inbox (2012 june 19)_____*/


#inbox-header{background:#597cad url(../../images/ERP-Blue/menu-bar.jpg) no-repeat right bottom;padding:0px 10px; height:50px;}
#inbox-header .logo{ background:url(../../images/ERP-Blue/gerp-logo.gif) no-repeat; width:102px; height:44px; float:left;}
.inbox-menu{float:right; width:225px; padding-top:16px;}
.inbox-menu input[type=image]{float:right; margin:0 5px 0 0;}
.top-spacing{padding-top:10px!important;}
#inbox-container {background:#eaf0f6; padding:10px 10px 30px 10px; min-height:510px;}
	
#inbox-container .left-side, .right-side {}
#inbox-container .left-side {width:22%;overflow:hidden;float:left}
#inbox-container .left-side-menuwrap {overflow:hidden;}
#inbox-container .left-side-menuwrap img {margin-right:5px;}
	
#inbox-container .right-side {width:77.2%;float:right;}
#inbox-container .right-side-contentwrap {padding:7px;margin:1px;background:#dfe9f5 url(../../images/ERP-Blue/grandtrustERP-left-menu-strip.gif) repeat-x bottom left;border:solid 1px #9ebfdb;}
#inbox-container .right-side-expanded {padding:7px; margin:0; border:solid 10px #bfd3ee}

.welcome-user span{color:#384C6E!important; background:#d0d7e2; border:solid 1px #e8ecf3; padding:0px 5px; margin:0 5px 0 0!important; float:right!important;font-size:11px!important; }
.reduce-size{font-size:11px!important;}

/*___________scroll__________*/

.max-150{max-height:150px;overflow-y:auto;}
.max-182{max-height:182px;overflow-y:auto;}
.max-200{max-height:200px;overflow-y:auto;}
.max-250{max-height:250px;overflow-y:auto;}
.max-380{max-height:380px;overflow-y:auto;}
.max-425{max-height:425px;overflow-y:auto;} 

   /*_______________________ code top __________________________*/ 
   
 .code-container{background:#EFF0F1;border:1px solid #dcdcdc;padding:3px 0; margin-bottom:8px;}
 .code-container span{font-weight:bold;width:289px;text-align:left;}
 .code-container span{ margin:0!important;padding:0!important;}
 .code-container label{width:140px;font-weight:normal!important;margin:0 0 0 20px!important;padding:0!important}
 
 /*_________________ Mandatory & Err Style __________________________*/ 

.starwrap {display:inline; margin-left:-2px; margin-right:-2px; position:absolute;}/*position:absolute; added for showing double star in ie(savin popup)*/
.starwrap span{position:absolute}
span.star {color:Red!important; display:inline;width:auto!important;  border:0!important; background:none!important; margin:0; padding:0;}
span.dynamic{display:block; position:absolute; display:inline}
.starwrap span.small, .starwrap span.medium, .starwrap span.large{display:inline!important;width:12px!important;}

.starwrap span.small{left:520px!important;}
.starwrap span.medium{left:590px!important;}
.starwrap span.large{left:720px!important;}

.errmsg {color:Red!important;}


 
 /*_________________ display __________________________*/ 
 .display-table{display:table}