<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ExceptionMode" value="User" />
    <add key="CryptoKey" value="56565656" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <!--Email Settings-->
    <add key="EnableSsl" value="false" />
    <add key="FrmMailResetPwd" value="grandtrust08@gmail.com" />
    <add key="FrmMailCusMailer" value="grandtrust08@gmail.com" />
    <add key="SmtpHost" value="192.168.1.110" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpEmail" value="testmail02@grandtrust.co.in " />
    <add key="SmtpPassword" value="test123" />
    <add key="EnableEmail" value="true" />
    <add key="EnableErrorLog" value="false" />
    <add key="Version" value="1.1" />
    <add key="CustomerDomine" value="/CustomerPortal/" />
    <add key="PROFILEURL" value="http://localhost:7008/GeneralAdmin/UserProfile.aspx" />
    <!--Email Settings-->
    <add key="UploadPath" value="http://localhost:1670/Upload/" />
    <add key="UploadDirectory" value="D:\NIKHILV\TFS Projects\SMS\Source\ERPSMS_v02\HRMS\Upload\" />
    <add key="ShortCloseGroup" value="4" />
    <add key="VirtualDirectory" value="" />
    <add key="salt" value="56565656" />
    <add key="ReportLogo" value="IGPL-logo-sub.jpg" />
    <add key="hand" value="hand.jpg" />
    <add key="ReportLogoPDF" value="IGPL-logo-sub.jpg" />
    <add key="POReportLogo" value="IGPL-logo-sub.png" />
    <!--Active Directory Login-->
    <!--<add key="SYSKEY" value="GTIASSET" />-->
    <add key="ACTIVEDIRECTORY" value="GRANDTRUST" />
    <add key="LOGINMODE" value="KilFnUn4bUE=" />
    <add key="LOCALUSERMODE" value="true" />
    <add key="ADUSERMODE" value="true" />
    <!--<add key="DASHBOARDURL" value="~/UserDashboard.aspx"/>-->
    <!--Exp Date-->
    <!--<add key="SYSVAL" value="rpQv0j7bE+7QVy9RfRcQjg=="/>-->
    <!--<add key="SYSVAL" value="fYAYpzZZLx0toz9dqdDqGg=="/>-->
     <add key="SYSVAL" value="Q8ip5Jz73AQBZOApbPuM5g==" />
    <add key="SYSKEY" value="GTIASSET" />
    <!--for mail service-->
    <add key="EnableMailQService" value="false" />
    <add key="EnableEmail" value="false" />
    <add key="EnableWkfMail" value="true" />
    <!--Menu Url-->
    <add key="gERPModule" value="0" />
    <add key="EmployeeProPic" value="~/Images/Uploads/EmployeeProPic/" />
    <add key="propic" value="~/Images/Uploads/EmployeeProPic/" />
    <!--Menu Url-->
    <!--<add key ="ERP" value="1"/>-->
    <!--<add key="PRODUCTIONURL" value="http://localhost:2245/Login.aspx" />-->
    <!--<add key="ASSETURL" value="http://localhost:7607/Account/Login.aspx" />-->
    <!--<add key="SMSURL" value="http://localhost:1582/login.aspx" />-->
    <add key="CUSTOMERDOMINE" value="http://localhost:60811/login.aspx" />
    <add key="IsHelpVisible" value="1" />
    <add key="ClientResourceSuffix" value="MMT" />
    <add key="EnableSMSQService" value="false" />
    <add key="SMSServiceInterval" value="1" />
    <add key="SMSAPIURL" value=" http://dnd.todaysms.in/httpapi/smsapi?uname=SYEDPV&amp;password=SYEDPV@123&amp;sender=SYEDPV&amp;receiver={0}&amp;route=TA&amp;msgtype=1&amp;sms= {1}" />
    <add key="WEBREQURL" value="http://localhost:1670/login.aspx" />
    <!--For Excel xls-->
    <add key="Excel03ConString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES;IMEX=1;'" />
    <!--For Excel xlsx-->
    <add key="Excel07ConString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR=YES;IMEX=1;'" />
    <!--DB Connection TimeOut-->
    <add key="EXECUTIONTIMEOUT" value="600" />	
    <add key="HasMultipleSBULlicense" value="0" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <!-- Added for accepting html tags in textboxes -->
    <httpRuntime executionTimeout="3400" maxRequestLength="202400" requestLengthDiskThreshold="102400" requestValidationMode="2.0" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
-->
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true" resourceProviderFactoryType="GTIService.Infrastructure.GtiResourceProviderFactory" />
    <httpModules>
      <add name="AuthenticationModule" type="GTIService.Security.AuthenticationModule, GTIService" />
    </httpModules>
    <compilation debug="true" targetFramework="4.7.1">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
    of the security authentication mode used by 
            ASP.NET to identify an incoming user. -->
    <authentication mode="Forms">
      <forms name="StoreAuth" path="/" loginUrl="login.aspx" defaultUrl="~/PurchaseOrderManagement/PurchaseOrderCreation.aspx" protection="All" slidingExpiration="true" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <httpHandlers>
      <add path="*.js.axd" verb="*" type="ScriptTranslator" />
      <add path="*.do" verb="GET,POST" type="Handlers.HandlerClass" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <!--<customErrors mode="On" defaultRedirect="Error.aspx"></customErrors>-->
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="HandlerClass" path="*.do" verb="GET,POST" type="Handlers.HandlerClass" scriptProcessor="%path%\aspnet_isapi.dll" />
      <add name="ScriptTranslator" path="*.js.axd" verb="*" type="ScriptTranslator" scriptProcessor="%path%\aspnet_isapi.dll" />
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.web>
    <sessionState timeout="3600" />
  </system.web>
  <location path="Administration">
    <system.web>
      <authorization>
        <allow roles="1,2,150" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AccountManagement">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="~/AccountManagement/WorkflowInbox.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Script">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="News">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <!--SQL SERVER 2008-->
    <!--<add name="ERPEntities" connectionString="metadata=res://*/ERP.csdl|res://*/ERP.ssdl|res://*/ERP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.220;Initial Catalog=gERP_DEV_150908;User ID=dev;pwd=gtidev@2008;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ConnectionString" connectionString="Data Source=192.168.1.220;Initial Catalog=gERP_DEV_150908;User ID=dev;pwd=gtidev@2008;Persist Security Info=True" providerName="System.Data.SqlClient"/>-->
    <!--SQL SERVER 2014 gERP_IGCL_QA_160707_CPY04 -->
  <add name="ERPEntities" connectionString="metadata=res://*/ERP.csdl|res://*/ERP.ssdl|res://*/ERP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.230;Initial Catalog= gERP_ASMA_TEST_20211019_CPY20211025;User ID=dev;pwd=dev@2019;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="Data Source=192.168.1.230;Initial Catalog=gERP_ASMA_TEST_20211019_CPY20211025;User ID=dev;pwd=dev@2019;Persist Security Info=True" providerName="System.Data.SqlClient" />

    <!--<add name="ERPEntities"
     
     connectionString="metadata=res://*/ERP.csdl|res://*/ERP.ssdl|res://*/ERP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.210\sqlserver2014;Initial Catalog= gERP_EKK_Test_191211_CPY02;User ID=dev;pwd=dev@2014;multipleactiveresultsets=True;App=EntityFramework&quot;"
     providerName="System.Data.EntityClient"/>
    <add name="ConnectionString"
      connectionString="Data Source=192.168.1.210\sqlserver2014;Initial Catalog= gERP_EKK_Test_191211_CPY02;User ID=dev;pwd=dev@2014;Persist Security Info=True"
      providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483646" maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646" messageEncoding="Text" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483646" maxStringContentLength="2147483646" maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxNameTableCharCount="2147483646" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client />
    <behaviors>
      <endpointBehaviors>
        <behavior name="gAssetsServices.BehaviorConfig">
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>