p {
	font-family: Cordia New, Arial, Helvetica, sans-serif;
	font-size:29px;
	font-weight:800;
	color: #FFFFFF;
	leading: -1px;
	line-height:-10px;	
}

.small {
	font-family: Cordia New, Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight:800;	
	color: #FFFFFF;
	leading: -1px;
}
a {
	font-family: Cordia New, Arial, Helvetica, sans-serif;
	font-size:21px;
	font-weight:800;
	leading: -1px;
	line-height:-20px;
	margin-top:-80px;	
}

a:hover {
	color: #FF9900;
	text-decoration: none;
}

.title {
	font-family: Cordia New, Arial, Helvetica, sans-serif;
	font-size: 32px;
	color:#FFFF00;
	font-weight: bolder;
	text-align:center;
	line-height:-15px;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;

}


.subtitle {
	font-family: Cordia New, Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight:800;
	color: #CCFF33;
	line-height:-5px;	
}

.highlight {
	color: #FFFFFF;
}

.note {
	font-family: Cordia New, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight:800;
	color: #99CCFF;
}