<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="ERPManager.POInvoicing.InvoiceListManager">
                <endpoint address="" binding="wsHttpBinding" contract="ERPManager.POInvoicing.IInvoiceListManager">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/ERPManager.POInvoicing/InvoiceListManager/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="ERPManager.POInvoicing.FinInvoiceVndTrxMpgManager">
                <endpoint address="" binding="wsHttpBinding" contract="ERPManager.POInvoicing.IFinInvoiceVndTrxMpgManager">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/ERPManager.POInvoicing/FinInvoiceVndTrxMpgManager/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="ERPManager.Sales.FinInvoiceCusHdrManager">
                <endpoint address="" binding="wsHttpBinding" contract="ERPManager.Sales.IFinInvoiceCusHdrManager">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/ERPManager.Sales/FinInvoiceCusHdrManager/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="ERPManager.Sales.FinInvoiceCusTrxMpgManager">
                <endpoint address="" binding="wsHttpBinding" contract="ERPManager.Sales.IFinInvoiceCusTrxMpgManager">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/ERPManager.Sales/FinInvoiceCusTrxMpgManager/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="ERPManager.Common.CommonFunctionsManager">
                <endpoint address="" binding="wsHttpBinding" contract="ERPManager.Common.ICommonFunctionsManager">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/ERPManager.Common/CommonFunctionsManager/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="ERPManager.Finance.FinTrxHdrManager">
                <endpoint address="" binding="wsHttpBinding" contract="ERPManager.Finance.IFinTrxHdrManager">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/ERPManager.Finance/FinTrxHdrManager/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="ERPManager.Employee.EmpEmployeeMstManager">
                <endpoint address="" binding="wsHttpBinding" contract="ERPManager.Employee.IEmpEmployeeMstManager">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/ERPManager.Employee/EmpEmployeeMstManager/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="ERPManager.Administration.AdmCountryMstManager">
                <endpoint address="" binding="wsHttpBinding" contract="ERPManager.Administration.IAdmCountryMstManager">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/ERPManager.Administration/AdmCountryMstManager/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
