body
{
    page-break-after: avoid;
    letter-spacing: 0.5pt;
    padding: 0cm;
    font-family: Arial;
    margin: 0;
    margin-left:.5cm;
}
.table-top, .table-top-sales,  .table-bottom, .table-forteen, .table-approve-five, .table-remarks
{
    width: 19.5cm;
    border: 0;
    font-family: Arial;
    font-size: 9pt; /*68%;*/
}
.table-grid
{
    width: 19.5cm;
    border: 0;
    font-family: Arial;
    font-size: 11pt; /*68%;*/
}
.table-grid-6
{
    width: 19.5cm;
    border: 0;
    font-family: Arial;
    font-size: 11pt; /*68%;*/
}
.title-font
{
    font-weight: Bold;
    font-size: 12pt;
}

.padding-bottom
{
    padding-bottom: 0.159cm; /*6px*/
}

.table-top, .table-top-sales
{
    margin-bottom: 3.7640625pt;
}
.table-top tr th img, .table-top-sales tr th img
{
    float: left;
}
.table-heading, .table-heading-small, .table-heading-medium, .table-heading-large
{
    font-weight: bold;
}
.table-heading-small
{
    font-size: 9pt;
}
.table-heading-medium
{
    font-size: 9pt;
}
.table-heading-large
{
    font-size: 9pt;
}
.table-col-seperator
{
    width: 1.5385%;
}
.table-top-col-first
{
    width: 9.77%;
}
.table-top-col-second
{
    width: 45.54%;
}
.table-top-col-third
{
    width: 8.2%;
}
.table-top-col-forth
{
    width: 14%;
}
.table-top-col-fifth
{
    width: 7.69%;
}
.table-top-col-sixth
{
    width: 15.8%;
}
.table-top-sales-col-first
{
    width: 16.492%; /* 10.4916%*/
}
.table-top-sales-col-second
{
    width: 25%; /*29%*/
}
.table-top-sales-col-third
{
    width: 10.2564%;
}
.table-top-sales-col-forth
{
    width: 14.6%; /* 23.0769*/
}
.table-top-sales-col-fifth
{
    width: 14.256%; /*%  10.2564*/
}
.table-top-sales-col-sixth
{
    width: 15.3846%;
}
.table-grid, .table-grid-6
{
    /* border:0.7528125pt solid Black !important ; 1px */ /*font-size: 7.5pt;*/
    margin-bottom: 0.79cm !important;
    text-align: left;
    border-collapse: collapse;
    border-top: 0.7528125pt solid Black !important; /* 1px */
    border-bottom: 0.7528125pt solid Black !important; /* 1px */
}
.table-grid-col-first
{
    width: 12.82%;
}
.table-grid-col-second
{
    width: 50.48%;
}
.table-grid-col-third
{
    width: 9%;
}
.table-grid-col-forth
{
    width: 13.85%;
}
.table-grid-col-fifth
{
    width: 13.85%;
}
.table-grid tr td, .table-grid tr th, .table-grid-6 tr td, .table-grid-6 tr th
{
    padding: 1.505625pt;
}
.table-grid thead tr th, .table-grid-6 thead tr th
{
    font-size: 9pt;
    border-bottom: 0.7528125pt solid Black !important; /* 1px */
}
.right-align-field
{
    text-align: right;
    margin-right: 0.7528125pt; /* 1px */
}
.table-grid tfoot, .table-grid-6 tfoot
{
    border-top: 0.7528125pt solid Black !important; /* 1px */
    border-left: 0 !important;
    border-right: 0 !important;
}
.table-grid-6-col-first
{
    width: 12.82%;
}
.table-grid-6-col-second
{
    width: 25.79%;
}
.table-grid-6-col-third
{
    width: 25%;
}
.table-grid-6-col-forth
{
    width: 9.48%;
}
.table-grid-6-col-fifth
{
    width: 13.85%;
}
.table-grid-6-col-sixth
{
    width: 13.85%;
}
.text-left-align
{
    text-align: left;
    margin-left: 0.7528125pt; /* 1px */
}
.table-remarks-caption-col
{
    width: 2cm;
    display:table-cell;
}
.table-forteen
{
    margin-top: 1.505625pt;
    margin-bottom: 1.505625pt;
    border: 0.7528125pt solid Black !important; /* 1px */
    border-collapse: collapse;
}
.table-forteen .forteen-col-small
{
    width: 5.641%; /*2.564%;*/
    padding: 1.505625pt;
}
.table-forteen .forteen-col-large
{
    width: 10.769%; /*7.692%;*/
    padding: 0.58ptpt;
}
.table-forteen .forteen-col-medium
{
    width: 8.209%; /*5.132%;*/
    padding: 1.505625pt;
}
.table-forteen thead tr th, .table-forteen thead tr td
{
    font-size: 9pt;
    border-bottom: 0.7528125pt solid Black !important; /* 1px */
}
.table-approve-five-col-separator
{
    width: 2%;
}
.table-approve-five-col-normal
{
    width: 18.4%;
    margin-left: 1cm;
    margin-right: 1cm;
    font-size: 9pt;
    text-align: center;
    vertical-align: bottom;
}
.aditional-data-block
{
    display: block;
    font-family: Arial;
    font-size: 9pt;
}
.col-separator
{
    width: 0.506cm;
    display:table-cell;
}
.footer
{
    border-top: 0.7528125pt solid Black !important; /* 1px */
    width: 19.5cm;
    font-size: 8pt;
    font-family: Arial; /* Courier New; */
}
