body
{
    page-break-after: avoid;
    letter-spacing: 1pt;
    padding: 0cm;
    font-family: Courier New;
    margin: 0;
}
.table-top, .table-grid, .table-bottom, .table-forteen, .table-approve-five
{
    width: 100%;
    border: 0;
    font-family: Courier New;
    font-size: 60%;
}
.table-top
{
    margin-bottom: 3.7640625pt;
}
.table-heading, .table-heading-small, .table-heading-medium, .table-heading-large
{
    font-weight: bold;
}

.table-heading-small
{
    font-size: 8pt;
}

.table-heading-medium
{
    font-size: 8pt;
}

.table-heading-large
{
    font-size: 10pt;
}

.table-top-col-first
{
    width: 8.77%;
}
.table-top-col-second
{
    width: 46.54%;
}
.table-top-col-third
{
    width: 8.2%;
}
.table-top-col-forth
{
    width: 15%;
}
.table-top-col-fifth
{
    width: 7.69%;
}
.table-top-col-sixth
{
    width: 13.8%;
}

.table-grid
{
    /* border:0.7528125pt solid Black !important ; 1px */
    margin-bottom: 0.79cm !important;
    font-size: 7.5pt;
    text-align: left;
    border-collapse: collapse;
    border-top: 0.7528125pt solid Black !important; /* 1px */
    border-bottom: 0.7528125pt solid Black !important; /* 1px */
}

.table-grid-col-first
{
    width: 12.82%;
}
.table-grid-col-second
{
    width: 50.79%;
}
.table-grid-col-third
{
    width: 9.48%;
}
.table-grid-col-forth
{
    width: 13.85%;
}
.table-grid-col-fifth
{
    width: 13.85%;
}

.table-grid tr td, .table-grid tr th
{
    padding: 1.505625pt;
}

.table-grid thead tr th
{
    font-size: 8pt;
    border-bottom: 0.7528125pt solid Black !important; /* 1px */
}

.right-align-field
{
    text-align: right;
    margin-right: 0.7528125pt; /* 1px */
}

.table-grid tfoot
{
    border-top: 0.7528125pt solid Black !important; /* 1px */
    border-left: 0 !important;
    border-right: 0 !important;
}

.text-left-aligh
{
    text-align: left;
}

.table-forteen
{
    margin-top: 1.505625pt;
    margin-bottom: 1.505625pt;
    border: 0.7528125pt solid Black !important; /* 1px */
    border-collapse: collapse;
}
.table-forteen .forteen-col-small
{
    width: 2.564%;
    padding: 1.505625pt;
}
.table-forteen .forteen-col-large
{
    width: 7.692%;
    padding: 1.505625pt;
}
.table-forteen .forteen-col-medium
{
    width: 5.132%;
    padding: 1.505625pt;
}

.table-forteen thead tr th, .table-forteen thead tr td
{
    font-size: 8pt;
    border-bottom: 0.7528125pt solid Black !important; /* 1px */
}

.table-approve-five-col-separator
{
    width: 2%;
}

.table-approve-five-col-normal
{
    width: 18.4%;
    margin-left: 1cm;
    margin-right: 1cm;
    font-size: 8pt;
    text-align:center;
    vertical-align:bottom;
}

.footer
{
    border-top:  0.7528125pt solid Black !important; /* 1px */
    width: 100%; 
    font-size: 7pt;
    font-family: Courier New;
}