<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="OperationMode" value="Developement"/>-->
    <add key="ExceptionMode" value="User" />
    <add key="CryptoKey" value="56565656" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <!-- 
            Set Mail Details includes SmtpHost,SmtpPort,SmtpEmail,SmtpPassword
            Thease values taken to send mail. 
        -->
    <!--Email Settings-->
    <add key="EnableSsl" value="false" />
    <add key="FrmMailResetPwd" value="grandtrust08@gmail.com" />
    <add key="FrmMailCusMailer" value="grandtrust08@gmail.com" />
    <add key="SmtpHost" value="192.168.1.110" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpEmail" value="testmail02@grandtrust.co.in " />
    <add key="SmtpPassword" value="test123" />
    <add key="EnableEmail" value="true" />
    <!--<add key="EnableErrorLog" value="true"/>-->
    <add key="Version" value="1.1" />
    <!--Email Settings-->
    <!--https://192.168.1.112/gERPTest/upload/-->
    <!--<add key="UploadPath" value="http://localhost:2025/Upload/" />-->
    <add key="UploadPath" value="" />
    <!--<add key="UploadDirectory" value="D:\SINU\TFS Projects\SMS\Source\ERPSMS_v02\ERPSMS_v01\Images\Uploads\Signatures\" />-->
    <!--<add key="UploadDirectory" value="D:\RAHESH\TFSProjectsNew\SMS\Source\ERPSMS_v02\ERPSMS_v01\Upload\" />-->
    <!--<add key="UploadDirectory" value="D:\Praveena\TFS Projects\SMS\Source\ERPSMS_v02\CustomerPortal\Images\Uploads\Signatures\" />-->
    <add key="UploadDirectory" value="" />
    <add key="VirtualDirectory" value="" />
    <add key="salt" value="56565656" />
    <add key="ReportLogo" value="IGPL-logo-sub.jpg" />
    <add key="hand" value="hand.jpg" />
    <add key="ReportLogoPDF" value="IGPL-logo-sub.jpg" />
    <add key="POReportLogo" value="IGPL-logo-sub.png" />
    <!--Exp Date-->
    <add key="SYSVAL" value="Q8ip5Jz73AQaSWbkO9979Q==" />
    <add key="SYSKEY" value="GTIASSET" />
    <!--for mail service-->
    <add key="EnableMailQService" value="false" />
    <!--Menu Url-->
    <add key="gERPModule" value="12" />
    <!--Menu Url-->
    <!--<add key ="ERP" value="1"/>-->
    <!--<add key="PRODUCTIONURL" value="http://localhost:2245/Login.aspx" />-->
    <!--<add key="ASSETURL" value="http://localhost:7607/Account/Login.aspx" />-->
    <!--<add key="HRMSURL" value="http://localhost:1591/login.aspx" />-->
    <!--<add key="SMSURL" value="http://localhost:1582/login.aspx" />-->
    <add key="IsHelpVisible" value="1" />
    <add key="BlockedExtensions" value="exe,dll" />
    <!--<add key="ClientResourceSuffix" value="TMD" />-->
    <!--<add key="ClientResourceSuffix" value="MMT" />-->
    <!--<add key="ClientResourceSuffix" value="BWH" />-->
    <add key="ClientResourceSuffix" value="WARM" />
    <!--<add key="ClientResourceSuffix" value="IGCL" />-->
    <!--<add key="ClientResourceSuffix" value="IN"/>-->
    <!--<add key="ClientResourceSuffix" value="LEN"/>-->
    <!--<add key="ClientResourceSuffix" value="CM" />-->
    <!--<add key="ClientResourceSuffix" value="ASM" />-->
    <add key="EnableSMSQService" value="false" />
    <add key="SMSAPIURL" value=" http://dnd.todaysms.in/httpapi/smsapi?uname=SYEDPV&amp;password=SYEDPV@123&amp;sender=SYEDPV&amp;receiver={0}&amp;route=TA&amp;msgtype=1&amp;sms= {2}" />
    <add key="HasMultipleSBULlicense" value="0" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <!-- Added for accepting html tags in textboxes -->
    <httpRuntime requestValidationMode="2.0" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
-->
    <httpModules>
      <add name="AuthenticationModule" type="GTIService.Security.AuthenticationModule, GTIService" />
    </httpModules>
    <hostingEnvironment shadowCopyBinAssemblies="false" />
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true" resourceProviderFactoryType="GTIService.Infrastructure.GtiResourceProviderFactory" />
    <compilation debug="true" targetFramework="4.7.1">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=15.2.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <!--<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
    of the security authentication mode used by 
            ASP.NET to identify an incoming user. -->
    <authentication mode="Forms">
      <forms name="StoreAuth" path="/" loginUrl="login.aspx" defaultUrl="~/PurchaseOrderManagement/PurchaseOrderCreation.aspx" protection="All" slidingExpiration="true" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <httpHandlers>
      <add path="*.js.axd" verb="*" type="ScriptTranslator" />
      <add path="*.do" verb="GET,POST" type="Handlers.HandlerClass" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <!--<customErrors mode="On" defaultRedirect="Error.aspx"></customErrors>-->
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="HandlerClass" path="*.do" verb="GET,POST" type="Handlers.HandlerClass" scriptProcessor="%path%\aspnet_isapi.dll" />
      <add name="ScriptTranslator" path="*.js.axd" verb="*" type="ScriptTranslator" scriptProcessor="%path%\aspnet_isapi.dll" />
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.web>
    <sessionState timeout="3600" />
  </system.web>
  <location path="Administration">
    <system.web>
      <authorization>
        <allow roles="1,2,150" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AccountManagement">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="~/AccountManagement/WorkflowInbox.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="NewPresentation">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Script">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="News">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <!--SQL SERVER 2008-->
    <!--<add name="ERPEntities" connectionString="metadata=res://*/ERP.csdl|res://*/ERP.ssdl|res://*/ERP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.220;Initial Catalog=gERP_MMT_Test_160510_CPY04;User ID=dev;pwd=gtidev@2008;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="Data Source=192.168.1.220;Initial Catalog=gERP_MMT_Test_160510_CPY04;User ID=dev;pwd=gtidev@2008;Persist Security Info=True" providerName="System.Data.SqlClient" />-->
    <!--SQL SERVER 2014-->
    <!--<add name="ERPEntities" connectionString="metadata=res://*/ERP.csdl|res://*/ERP.ssdl|res://*/ERP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.220\SQLSERVER2014;Initial Catalog= gERP_IGCL_Live_160831;User ID=dev;pwd=dev@2014;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ConnectionString" connectionString="Data Source=192.168.1.220\SQLSERVER2014;Initial Catalog= gERP_IGCL_Live_160831;User ID=dev;pwd=dev@2014;Persist Security Info=True" providerName="System.Data.SqlClient"/>-->
    <add name="ERPEntities" connectionString="metadata=res://*/ERP.csdl|res://*/ERP.ssdl|res://*/ERP.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WIN-LQ83SLV8TNK\SQLEXPRESS2022;Initial Catalog=WARM_DEMO_20260616;User ID=sa;pwd=Sql@2019++;Persist Security Info=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="Data Source=WIN-LQ83SLV8TNK\SQLEXPRESS2022;Initial Catalog=WARM_DEMO_20260616;User ID=sa;pwd=Sql@2019++;Persist Security Info=True" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionString" connectionString="Data Source=10.10.10.32\MSSQLSERVER2019;Initial Catalog=gERP_WARM_TEST_20241212;User ID=sa;pwd=gt1cor32019**;Persist Security Info=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2.0.0" newVersion="15.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>