<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="F1" xsi:type="File" createDirs="true" fileName="${basedir}/ErrorLogs/${level}/${date:format=MMddyyyy}.txt" layout="${longdate} | ${callsite} | ${stacktrace} | ${message}" />
    </targets>
  <rules>
    <logger minlevel="Debug" writeTo="F1" />
  </rules>
</nlog>
